[color]

	diff = auto

	status = auto

	branch = auto

[color "branch"]

	current = yellow reverse

	local = yellow

	remote = green

[color "diff"]

	meta = yellow bold

	frag = magenta bold

	old = red bold

	new = green bold

[color "status"]

	added = yellow

	changed = green

	untracked = cyan
[user]
	name = Pål Andre Sundt
	email = pal@rubynor.com
[core]
	excludesfile = ~/.gitignore_global

[alias]
	s = status
	c = commit
	d = diff
	b = branch
	m = merge
	ch = checkout
	p = pull
	r = remote
	bcleanup = "!git branch --merged | grep -v 'master' | grep -v 'develop' | grep -v '*' | xargs -n 1 git branch -d "
	freshness = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %(authorname) %(refname:short)'
[heroku]
	account = work
[push]
	default = current
